
@{
    ViewBag.Title = "Opinie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opinie</h2>
<div>
    Rebum vel erat ut est volutpat duis et tation dolor vulputate in consequat ipsum feugiat lorem dolore sadipscing amet feugait duis lorem et
    suscipit sanctus invidunt augue sanctus lorem ut sea diam voluptua consetetur elitr wisi aliquam ipsum nihil magna sanctus elitr sea duo et et
    dolores invidunt erat duo magna sanctus invidunt labore takimata kasd tempor mazim aliquyam invidunt et ullamcorper feugiat odio et sed magna
    lorem accusam labore lorem ea veniam tempor justo vel rebum magna aliquyam commodo justo sea dolore dolor ipsum sit laoreet te invidunt minim rebum
    voluptua labore clita elitr et aliquyam consequat feugiat accusam gubergren vel et sit dolor dolor feugiat dignissim ea eos nulla et tempor duis dolores
    consectetuer kasd sed wisi exerci et nonumy et suscipit et diam aliquam invidunt sit aliquam tincidunt euismod consequat duo dolor est at option nonumy
    accumsan vel dolores amet stet sit elitr accumsan nisl amet feugait tation consectetuer ipsum dolores dolor possim consequat sadipscing voluptua hendrerit
    sed aliquyam elitr sit enim tempor ea ea kasd amet sea aliquyam invidunt consetetur erat tation kasd est et duis ea et diam molestie clita eirmod eros justo
    accusam lorem sea dolore vero duis kasd ipsum sadipscing et no ea
</div>
