
@{
    ViewBag.Title = "Pomoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pomoc</h2>
<div>
    Eos eos placerat ex vel sea amet no et facilisi eu elitr dignissim consequat invidunt clita hendrerit est labore consetetur
</div>
