
@{
    ViewBag.Title = "Spolecznosc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spolecznosc</h2>

<div>
    Rebum vel erat ut est volutpat duis et tation dolor vulputate in consequat ipsum feugiat lorem dolore sadipscing amet feugait duis lorem et
    suscipit sanctus invidunt augue sanctus lorem ut sea diam voluptua consetetur elitr wisi aliquam ipsum nihil magna sanctus elitr sea duo et et

</div>